<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <title>Document</title>
</head>
<body>
   

  <div>
    <form action="/create-account" method="POST">
        <div>
            <label for="">Customer Ac No.</label>
        <br>
        <input type="text" name="cus_ac_no" id="" placeholder="Enter Your Ac no.">
        </div>

        <div>
        <label for="">Customer Name</label>
        <br>
        <input type="text" name="cus_name" id="" placeholder="Enter Your Name">
        </div>

        <div>
        <label for="">Customer mobile</label>
        <br>
        <input type="text" name="cus_mob" id="" placeholder="Enter Your mob no.">
        </div>

        <div>
        <label for="">Customer Address</label>
        <br>
        <textarea rows="5" cols="21" name="cus_add" id=""></textarea>
        </div>

        <button type="submit">Send Data</button>
        <button type="reset">Reset</button>
    </form>
  </div>
   
</body>
</html>